<html lang="fr">
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/slate/bootstrap.min.css" rel="stylesheet"/>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="/questions">Voir toutes les questions</a></li>
            <li><a href="/nouvelle-question">Créer une nouvelle question</a></li>
            <li><a href="/quizzs">Voir tous les quizzs</a></li>
            <li><a href="/nouveau-quizz">Créer un nouveau quizz</a></li>
            <li><a href="/">Retour à l'accueil</a></li>
        </ul>
    </div>
</div>
<br/>
<br/>
<br/>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>Question</h1>

            <h2 th:text="${question.libellé}">Libellé</h2>

            <div class="row-fluid">
                <div class="span12">
                    <div class="span6">
                        <form id="nouvelle-reponse" th:action="'/questions/' + ${question.id}" method="PUT">
                                <legend>Nouvelle réponse</legend>
                                <label>Libellé</label>
                                <input type="text" required="true" name="libelle"/>
                                <label>Correcte <input type="checkbox" name="correcte"/></label>
                                <button type="submit" class="btn">Ajouter</button>
                        </form>
                    </div>
                    <div class="span6">
                        <form id="modifier-question" th:action="'/questions/' + ${question.id}" method="POST">
                            <fieldset>
                                <legend>Modifier Question</legend>
                                <label>Libellé</label>
                                <input type="text" required="true" name="nouveau-libelle"/>
                                <button type="submit" class="btn">Modifier</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="span12">
                    <div class="span6">
                        <table class="table">
                            <thead>
                            <tr>
                                <legend>Les réponses</legend>
                                <th>Libellé</th>
                                <th>Correcte</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="reponse : ${question.réponses}">
                                <td class="reponse-libelle" th:text="${reponse.libellé}">Libellé</td>
                                <td th:text="${reponse.correcte}">Valeur</td>
                                <td><input class="reponse-supprimer"  type="button" value="X" title="Retirer-réponse"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span6">
                        <td><input id="supprimer-question" type="button" value="Supprimer la question" title="supprimer-question"/></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var URL =  $("#nouvelle-reponse").attr('action');

        $("#nouvelle-reponse").submit(function (event) {
            console.log("yaa");
            var formulaire = $(this);
            $.ajax({
                url: formulaire.attr("action"),
                type: 'PUT',
                data: formulaire.serialize(),
                success: function(data) {
                    window.location.reload();
                }
            });
            return false;
        });

        $('#supprimer-question').click(function() {
            $.ajax({
                url: URL,
                type: 'DELETE',
                success: function(data) {
                    window.location = '/questions';
                }
            });
        });

        $("#modifier-question").submit(function (event) {
            var formulaire = $(this);
            $.ajax({
                url: formulaire.attr("action"),
                type: 'POST',
                data: formulaire.serialize(),
                success: function(data) {
                    window.location.reload();
                }
            });
            return false;
        });

        $('.reponse-supprimer').click(function() {
            var ligne = $(this).parent().parent();
            var reponse = ligne.find('.reponse-libelle').html();
            $.ajax({
                url: URL,
                type: 'DELETE',
                data: reponse,
                success: function(data) {
                    window.location.reload();
                }
            });
        });
    });
</script>
</body>
</html>